.container1{
    background-image: url("Layer2.png");
    width : 100%;
    background-size: cover;
    position: absolute;
    height: 1010px;
}
.container2{
    background-image: url("beautiful-16736_1280.png");
    width : 100%;
    height:700px;
    background-size: cover;
    position: absolute;
}
.container3{
    background-image: url("Layer 3.png");
    width : 100%;
    height:700px;
    background-size: cover;
    position: absolute;
    background-size:100% 100%;
}
.container4{
    background-image: url("Layer 5.png");
    width : 100%;
    height:700px;
    background-size: cover;
    position: absolute;
}
   
.dd {
    border-top: white solid 2px ; 
    padding-bottom:5px;
    width: 25px;
    display: block;    
}

.menu {
    position: absolute;
    right: 5%;
    top: 10%;
}

.tlg {
    color: white;
    font-family: 'B612 Mono', monospace;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: white 2px solid;

}


.welcome {
    transform: translate(-50%, -50%);
    color: white;
    position: absolute;
    left: 50%;
    text-align: center;
    margin-top: 120px;
    font-family: 'Oswald', sans-serif;
    font-size:60px;
}


.txt{
    font-weight:bold;
    font-size: 50px;
}

.tlgf {
    color:white;
    font-size: 35px;
    font-weight:lighter;
    font-family: 'Pacifico', cursive;
    margin-top: 5px;


}

.line {
    width: 10%;
    border-width: 0px;
    border-top: white 2px solid ;
    margin: 20px auto;
    display:block;
    margin-top:10px;

}
.im{
    margin-bottom: 5px;
}
.nav{
    border: 5px white solid;
    padding:1px 10px;
    
}
.down{
    font-family: 'B612 Mono', monospace;
    color:white;
    font-size:50px;
padding-bottom: 20px;
}

.box{
    color: white;
    font-size: 15px;
    border:white 3px solid;
    margin-top: 5px;
    padding: 15px;
    background: rgba(223, 217, 217, 0.411); 
}
.box:hover{
    background-color: rgba(128, 85, 50, 0.514);
    color:black;
    
}

.boxd{
    color: white;
    font-size: 15px;
    border:white 3px solid;
    margin-top: 5px;
    padding: 15px;
    background: rgba(223, 217, 217, 0.411); 
}
.boxd:hover{
    background-color: rgba(56, 136, 211, 0.678);
    color:white;
    
}
.boxm{
    color: white;
    font-size: 15px;
    border:white 3px solid;
    margin-top: 5px;
    padding: 15px;
    background: rgba(223, 217, 217, 0.411); 
}
.boxm:hover{
    background-color: rgba(211, 54, 43, 0.719);
    color:white;
    
}

.side{
    margin-top: 100px;
}
.diamond{
    margin-bottom: 20px;
}
.diamond:hover{
    background-color: rgba(255, 255, 255, 0.507);
    transform: rotate(45deg);

}


.date{
    color: rgba(255, 217, 0, 0.986);
    padding-top: 60px;
}
.paris{
    color: white;
    padding-top: 60px;
}
.bucha{
    color: black;
    padding-top: 60px;
}
.wild{
    color: red;
    font-size: 40px;
}
.explore{
    color: white;
    font-size: 40px;
    font-weight: 100;
}
.explore2{
    color: black;
    font-size: 40px;
    font-weight: 100;
}
.loren{
    color: white;
    text-align: justify;
    font-size: 4mm;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.honestly{
    padding-top: 20px;
    color: white;
    text-align: justify;
    font-size: 5mm;
    font-weight: 100;
    font-style:italic;
    font-family: 'PT Serif', serif;

}
.loren2{
    color: black;
    text-align: justify;
    font-size: 4mm;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.honestly2{
    padding-top: 20px;
    color: black;
    text-align: justify;
    font-size: 5mm;
    font-weight: 100;
    font-style:italic;
    font-family: 'PT Serif', serif;

}

.line2{
    width: 10%;
    border-width: 0px;
    border-top: black 2px solid ;
    margin: 20px auto;
    display:block;
    margin-top:10px;

}

.form{
    background-color: rgba(240, 234, 234, 0.253);
    border: 2px white solid;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px; 
    width:270px;
}

input[type="email"]::-webkit-input-placeholder {
    color: white ;
    text-align: center;
    }

input[type="text"]::-webkit-input-placeholder {
    color: white ;
    text-align: center;

    }

input[type="textarea"]::-webkit-input-placeholder {
    color: white ;
    }
textarea::-webkit-input-placeholder {
        color: #fff;

}
        .foot{
            background-color: black;
            color:white;
            font-size: 12px;
        }